# ASP.NET and Visual Studio files
*.sln
*.vcxproj
*.vcxproj.*
*.csproj
*.csproj.*
*.user
*.vs/
obj/
bin/

# Build output
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.exe
*.dll
*.log
*.bin
*.cache
*.cra
*.dat
*.dep
*.dot
*.exp
*.htm
*.html
*.icns
*.map
*.res
*.resources
*.sln.docstates
*.suo
*.swp
*.tsv
*.userprefs
*.xml
*.xaml
*.xap
*.xsl
*.xslt
*.xsn
*.xsd
*.xss
*.xsub
*.xthml
*.xtr
*.xtw
*.xwd
*.xwf
*.xxe
*.yml
*.zip
*.gzip
*.7z
*.rar

# Dependency directories
/obj/
/bin/
/.nuget/
/packages/
